* {
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

:root {
    font-size: 62.5%;

 /*PALLETE COLOR*/
    --padding-color: rgba(46, 46, 46, 1);
    --base-color: rgba(255, 255, 255, 1);
    --text-color: rgba(46, 46, 46, 1);

}

/*=================BASE==============================*/

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    background-color: rgba(255, 255, 255, 1);
    -webkit-font-smoothing: antialiased;
   
  
    overflow-x: hidden ;
    
}


/*=================LAYOUT==============================*/
.container {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    
}


.grid {
    display:grid;
    gap: 2.3rem;
}

.section {
    padding: 4.5rem 0;
}

.section .title{
    margin-bottom: 1.6rem;
}

.section header {
    margin-bottom: 4.4rem ;
}
/*=================NAVIGATION==============================*/
 
nav.container {
    position: absolute;
    background-color: var(--base-color);
    width: 100%;
    margin: 0;
    height: 5.5rem;
    
}
#header img.imagem-logo {
    width: 13rem;
    margin-left: -2.5rem;
}

#header ul.grid {
    font: 400 1.3rem 'Bebas Neue', cursive;
    display: flex;
    margin-left: 13rem;
    margin-top: -5.9rem;
    
    
}
#header div {
    width: 100%;
}
#header li.title-diferent a {
   width: 80%;
   height: 0;
   
}

 img.img{
   
    width: 103%;
    margin-top: 3rem;
    border-bottom: 6px solid #2E2E2E ;
   
 }

 img.img-logo {
    width: 60%;
    margin-top: -35rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
    
}

#header li.title:hover {
    border-bottom: 1.5px solid rgb(0,140,10);
    margin-bottom: 5rem;
    
}

#header li.title-diferent:hover {
    border-bottom: 1.5px solid rgb(0,140,10);
    margin-bottom: 5rem;
    
}

 

 p.button-context {
    background-color: black;
    color: azure;
    text-align: center;
    margin-left: 17rem;
    margin-top: -5rem;
    width: 13rem;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;

    
}

 .button-context:hover {
    color: rgb(11, 212, 41) ;
   
}



#menu-cardapio img {
    width: 60rem;
    height: 35rem;
}

#menu-cardapio h1 {
    
    position: relative;
    font: 400 3.3rem 'Bebas Neue', cursive;
    text-align: center;
   margin-top: -27rem;
   color: green;
  
   
}

#menu-cardapio h3 {
    position: relative;
    font: 400 2.3rem 'Bebas Neue', cursive;
    text-align: center;
   color: var(--base-color);
    
    
}

#menu-cardapio h1.pizza-sweet {
    font: 400 3.3rem 'Bebas Neue', cursive;
    text-align: center;
    margin-top: 65rem;
}

#menu-cardapio table.salt {
    position: absolute;
   font: 700 1.4rem 'Roboto' , sans-serif;
   width: 40rem;
   height: 35rem;
   margin-left: 4.5rem;
   margin-top: 3rem;
   
   border-radius: 1rem;
   border: 3.5px solid black;
   background-color: var(--base-color);

   
}

#menu-cardapio table.sweet {
    position: relative;
    font: 700 1.4rem 'Roboto' , sans-serif;
    width: 40rem;
    height: 35rem;
    margin-left: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
    
    border-radius: 1rem;
    border: 3.5px solid black;
    background-color: var(--base-color);
  }


#menu-cardapio .space {
    width: 18rem;
    height: 9rem;
    margin-bottom: -1rem;
}

#menu-cardapio .title {
    width: 16rem;
    color: red;
}

#menu-cardapio .price {
    color: red;
}

#menu-cardapio .value {
    color: green;
}

#menu-cardapio .ingredients {
    width: 18rem;
}



footer {
    margin-top: -0.2rem;
    text-align: center;
    background-color: #2E2E2E;
    color: var(--base-color);
    height: 10rem;
}

a.icon-facebook {
    margin-left: -39rem ;
}

a.icon-instagram {
    margin: 2rem;
}

p.rights {
    margin-top: -5.2rem;
    margin-left: -37rem;
}

 p.rights-reserved {
    margin-left: -34rem;
}

/*=================RESPONSIVIDADE==============================*/
@media (min-width:320px) {
    .grid {
        display: grid;
        gap: 1rem;
    }

    img.img-logo {
        margin-left: 6.7rem;
    }

    #header ul.grid {
        margin-left: 9rem;
    }

    #menu-cardapio table.salt {
      margin-left: 2rem;
      width: 25rem;
      margin-top: -0.2rem;
      font-size: 1.2rem;
    }
    #menu-cardapio table.sweet {
      margin-left: 1.6rem;
      width: 25rem;
      font-size: 1.1rem;
      
    }

    footer p.rights {
        margin-left: -23rem
    }

    footer p.rights-reserved {
        margin-left: -20rem;
    }

    footer a.icon-facebook {
        margin-left: -23rem;
    }

    p.button-context {
        margin-left: 10rem;
        width: 15rem;
    }

}
/*=================ABOUT==============================*/

@media (min-width: 350px) {
    #header .grid {
        display: grid;
        gap: 2.2rem;
    }

    #menu-cardapio table.salt {
        margin-left: 3.5rem;
    }
    #menu-cardapio table.sweet {
        margin-left: 3.5rem;
    }

    p.button-context {
        width: 15rem;
    }
}

/*=================RESPONSIVIDADE-375PX==============================*/
@media (min-width: 375px) {
    .grid {
        display: grid;
        gap: 1.8rem;
    }

    #header ul.grid {
        margin-left: 10rem;
    }

    #menu-cardapio table.salt {
        margin-left: 5rem;
       
      }
      #menu-cardapio table.sweet {
        margin-left: 4.5rem;
    }

    p.button-context {
        margin-left: 12rem;
        width: 15rem;
    }
    
    footer p.rights {
        margin-left: -27.5rem
    }

    footer p.rights-reserved {
        margin-left: -25rem;
    }

    footer a.icon-facebook {
        margin-left: -29rem;
    }

}
/*=================RESPONSIVIDADE-425PX==============================*/
@media (min-width:425px) {
    #menu-cardapio table.salt {
        margin-left: 7rem;
       
      }
      #menu-cardapio table.sweet {
        margin-left: 6.5rem;
    }

    footer p.rights {
        margin-left: -32.5rem
    }

    footer p.rights-reserved {
        margin-left: -30rem;
    }

    footer a.icon-facebook {
        margin-left: -35rem;
    }

    p.button-context {
        margin-left: 15rem;
        width: 15rem;
    }
}
/*=================RESPONSIVIDADE-768PX==============================*/

@media (min-width:768px) {
    .grid {
        display: grid;
        gap: 3.5rem;
    }
    
    #header ul.grid {
        margin-left: 26.5rem;
    }
    
    #menu-cardapio img {
        width: 80rem;
    }

    img.img-logo {
        margin-left: 17rem;
    }
    
    
    
    
    #menu-cardapio table.salt {
        margin-left: 13rem;
        width: 50rem;
        font-size: 1.3rem;
      }
      #menu-cardapio table.sweet {
        margin-left: 12.3rem;
        width: 50rem;
        font-size: 1.3rem;
    }
    
    
    footer p.rights {
        margin-left: -65rem;
    }
    
    footer p.rights-reserved {
        margin-left: -62rem;
    }

    footer a.icon-facebook {
        margin-left: -67rem;
    }

    p.button-context {
        margin-left: 32rem;
        width: 15rem;
    }
    
}
/*==================RESPONSIVIDADE(1024PX)==========*/
@media (min-width:1024px) {
      
    #header .grid {
        display: grid;
        gap: 6rem;
}
   
    #header img.imagem-logo {
        margin-left: 1.5rem;
}
   
   #header ul.grid {
        margin-left: 33rem;
        font-size: 1.7rem;
}

   #header li.title {
        height: 1.9rem;
}
 
    #header li.title-diferent {
        height: 1.9rem;
}

   img.img-logo {
        width: 65;
        margin-top: -55rem;
        margin-left: 22rem;
}

   #menu-cardapio img {
        width: 105rem;
}

    #menu-cardapio table.salt {
        margin-left: 22rem;
        width: 60rem;
        font-size: 1.5rem;
  }
  
  #menu-cardapio table.sweet {
    margin-left: 21.5rem;
    width: 60rem;
    font-size: 1.5rem;
}

    p.button-context {
        margin-left: 45rem;
    }

    footer p.rights {
        margin-left: -90rem;
    }

    footer p.rights-reserved {
        margin-left: -87rem;
    }

    footer a.icon-facebook {
        margin-left: -91rem;
    }

  

}

/*==================RESPONSIVIDADE(1115PX)==========*/

@media (min-width:1115px) {

    #header ul.grid {
        margin-left: 37rem;
    }

    #header li.title {
       height: 1.9rem;
    }
    #header li.title-diferent {
       height: 1.9rem;
    }


    #menu-cardapio img {
        width: 115rem;
}

    #menu-cardapio table.salt {
        margin-left: 25rem;
        width: 60rem;
        font-size: 1.6rem;
  }
  
  #menu-cardapio table.sweet {
    margin-left: 25rem;
    width: 60rem;
    font-size: 1.6rem;
}

    p.button-context {
        margin-left: 49rem;
    }

    footer p.rights {
        margin-left: -100rem;
        font-size: 1.3rem;
    }

    footer p.rights-reserved {
        margin-left: -95rem;
        font-size: 1.3rem;
    }

    footer a.icon-facebook {
        margin-left: -102rem;
    }

}

/*==================RESPONSIVIDADE(1200PX)==========*/

@media (min-width:1200px) {
    #header ul.grid {
        margin-left: 37rem;
    }

    #header li.title {
       height: 1.9rem;
    }
    #header li.title-diferent {
       height: 1.9rem;
    }


    #menu-cardapio img {
        width: 120rem;
    }

    #menu-cardapio table.salt {
        margin-left: 30rem;
        width: 60rem;
    } 
  
  #menu-cardapio table.sweet {
    margin-left: 30rem;
    width: 60rem;
    }

    p.button-context {
        margin-left: 53.5rem;
    }

    footer p.rights {
        margin-left: -98.5rem;
    }

    footer p.rights-reserved {
        margin-left: -95rem;
    }

    footer a.icon-facebook {
        margin-left: -100rem;
    }
}

/*==================RESPONSIVIDADE(1300PX)==========*/
@media (min-width:1300px) {
    #about h1 {
        margin-left: -5rem;
    }

    #about p {
        font-size: 1.7rem;
    }

    #header ul.grid {
        font-size: 1.8rem;
    }


    #menu-cardapio img {
        width: 135rem;
    }

    #menu-cardapio table.salt {
        margin-left: 35rem;
        width: 60rem;
        font-size: 1.7rem;
  }
  
    #menu-cardapio table.sweet {
    margin-left: 35rem;
    width: 60rem;
    font-size: 1.7rem;
    }

    p.button-context {
        margin-left: 57rem;
        font-size: 1.7rem;
        width: 15rem;
    }

    footer p.rights {
        margin-left: -110rem;
        font-size: 1.5rem;
    }

    footer p.rights-reserved {
        margin-left: -107rem;
        font-size: 1.5rem;
        
    }

    footer a.icon-facebook {
        margin-left: -112rem;
        
      
    }
    footer p {
        font-size: 1.3rem;
        margin-left: -5rem;
    }

}

@media (min-width:1440px) {
    
    #header ul.grid {
        margin-left: 45rem;
    }
    
    img.img-logo {
        margin-left: 27rem;
        margin-top: -60rem;
    }



    #menu-cardapio img {
        width: 145rem;
    }
    
    #menu-cardapio table.salt {
        margin-left: 37rem;
        width: 70rem;
        font-size: 1.7rem;
        
  }

    #menu-cardapio table.sweet {
        margin-left: 37rem;
        width: 70rem;
        font-size: 1.7rem;
    }
    
        p.button-context {
            margin-left: 65rem;
            font-size: 1.7rem;
            width: 15rem;
        }
    
        footer p.rights {
            margin-left: -120rem;
            font-size: 1.5rem;
        }
    
        footer p.rights-reserved {
            margin-left: -117rem;
            font-size: 1.5rem;
            
        }
    
        footer a.icon-facebook {
            margin-left: -122rem;
            
          
        }
        footer p {
            font-size: 1.4rem;
            margin-left: -1rem;
        }
    

}